# Dependencies
node_modules/
**/node_modules/

# Production
build/
dist/
sql_backup/
sql_data/
dist_exe/


# Environment Variables
.env
.env.local
.env.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# OS & IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

# Docker
docker-compose.override.yml
